
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <form id="user-pic-form" enctype="multipart/formdata">
    <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom"> Account settings</h4>
        <h3 class="pb-4 border-bottom"><%= user.email %></h3>
        <div class="d-flex align-items-start py-3 border-bottom"> <img src="http://localhost:3005/<%= user.profilePic %>" id="img1" class="img" alt="image">
            <div class="pl-sm-4 pl-2" id="img-section"> <b>Profile Photo</b>
                <p>Accepted file type .png. Less than 1MB</p> <input type="file" id="userpics" class="btn btn-primary mr-3" name="userpics">
           <button type="submit" id="picbtn">Upload</button>
            </div>

        </div>
        </div>
    </form>
        <form id="user-update-form">
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">First Name</label> <input id="firstname" type="text" class="bg-light form-control" name="firstname" value="<%= user.firstname %>"> </div>
                <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Last Name</label> <input id="lastname" type="text" class="bg-light form-control" name="lastname" value="<%= user.lastname %>"> </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Phone Number</label> <input id="phone" type="tel" class="bg-light form-control" name="phone" value="<%= user.phone %>"> </div>
            </div>
            <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3" type="submit">Save Changes</button> <button class="btn border button">Cancel</button> </div>
            
        </div>
</form>
<script>
    const profile=document.getElementById("user-pic-form");
const userpic=document.getElementById("userpics");
const user_id =localStorage.getItem("user_id");

profile.addEventListener("submit",(e)=>{
    e.preventDefault();
    var profileData=new FormData();
    console.log(profileData)
    profileData.append("userpics",userpic.files[0]);
   profilePost(profileData);
});
const profileupdate=document.getElementById("user-update-form");
profileupdate.addEventListener("submit",(e)=>{
    e.preventDefault();
    var profileData=new FormData(profileupdate);
    const plainFormData= Object.fromEntries(profileData.entries());
    profileupdatePost(plainFormData);
   
});
async function profileupdatePost(plainFormData){
const request=await fetch(`http://localhost:3005/user/userAccount/${user_id}`,{
    method:"PATCH",
    headers:{
        "content-type":"application/json"
    },
    body:JSON.stringify(plainFormData)
}).then((res)=>{
    console.log("status code :"+res.status);
}).catch((err)=>{
    console.log(err);
})
}


async function profilePost(profileData){
const request=await fetch(`http://localhost:3005/user/uploadpic/${user_id}`,{
    method:"PATCH",
    body:profileData
}).then((res)=>{
    console.log("status code :"+res.status);
}).catch((err)=>{
    console.log(err);
})
}
    </script>
</body>
</html>
